<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AcceptanceTest.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>BatchRenderer.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>CommandLineRenderer.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>DTDVerifier.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>MetroSVG-OS-X.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>MetroSVG-iOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>StyleChecker.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BA0ECF0E1C451064005A0D3B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BA0ECF1B1C4510AC005A0D3B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BA0ECF4C1C4516FB005A0D3B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BA0ECF661C4517D6005A0D3B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BA0ECF881C451DD2005A0D3B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BAB23E741C4F8573009BFEB1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BAB23E7D1C4F8573009BFEB1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BAB23ED21C4F8785009BFEB1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BAB23EEF1C4F8CF9009BFEB1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BAC0D11B1C4618B300CE8213</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BAC0D14F1C461F6100CE8213</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BAC0D1611C46272900CE8213</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BAC0D16F1C46279700CE8213</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
